body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 3% 15%;
}
h1,
h2,
h3 {
  font-weight: 800;
}
h3 {
  font-size: 1.5em;
}

.big-title {
  font-size: 3.5rem;
  line-height: 1.5;
}
p {
  color: #8f8f8f;
}

/* Navigation bar */

.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}
/* Download buttons */

.button-svg {
  position: relative;
  padding-left: 30px;
  margin: 5% 3% 5% 0;
}
.button-svg svg {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  fill: white;
}
.button-svg2 svg {
  fill: #fff;
  stroke: transparent;
}
/* Title */

#title {
  color: #fff;
  background-color: #ff4c68;
  overflow: hidden;
}
#title h1 {
  text-align: left;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.fa-check-circle,
.fa-bullseye,
.fa-heart {
  color: #ef8172;
  font-size: 4em;
  margin-bottom: 0.5em;
}
.fa-check-circle:hover,
.fa-bullseye:hover,
.fa-heart:hover {
  color: #ff4c68;
}

#features {
  font-weight: 300;
  font-size: 1.2em;
}

/* testimonial section */

#testimonials {
  background-color: #ff4c68;
  color: white;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 50%;
  padding: 20px;
}
#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}
#press img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing .row {
  margin-top: 6%;
}
.pricing-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action1 */

#cta {
  background-color: #ff4c68;
  color: #fff;
}

/* footer */
#footer {
  background-color: #fff;
}
.footer-icon {
  margin: 20px 10px;
}
